<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhire.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zhire.model.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="user" property="user" />
        <result column="column" property="column" />
        <result column="label" property="label" />
        <result column="date" property="date" />
        <result column="content" property="content" />
        <result column="readnum" property="readnum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, user, column, label, date, content, readnum
    </sql>

</mapper>
